<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
  <title>Criar clube</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <form role="form" method="post" th:action="@{/clubs/new}" th:object="${club}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Nome</label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    th:field="*{name}"
                    placeholder="Nome do clube">
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div>
          <div class="form-group col-md-6">
            <label for="imageUrl">URL da imagem</label>
            <input
                    type="text"
                    class="form-control"
                    id="imageUrl"
                    name="imageUrl"
                    th:field="*{imageUrl}"
                    placeholder="URL da imagem">
            <p th:if="${#fields.hasErrors('imageUrl')}" class="text-danger" th:errors="*{imageUrl}"></p>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="description">Descrição</label>
          <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  th:field="*{description}"
                  placeholder="Descrição do clube">
          <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>